:root {
    --blue-opaco: rgba(0, 0, 31, 0.7);
    --blue: #00001f;
    --yellow: #ffec37;
    --height-header: 80px;
    --o: #1e0742;
}

.body-404 {
    background-color: var(--blue-opaco);
    display: flex;
    margin-top: 50px;
    font-family: 'Press Start 2P';
    color: #FFFFFF;
    text-align: center;
}

section.notFound {
    margin-top: 100px;
    width: 100%;
}

section.notFound h1 {
    font-size: clamp(60px, 10vw, 150px);
    padding-right: 10px;
}

section.notFound h2 {
    font-size: clamp(20px, 5vw, 50px);
    padding-left: 10px;
}

section.notFound h1, h2, h3 {
    margin-bottom: 40px;
}

#back-404 {
    width: clamp(200px, 60vw, 1000px);
}

#car-404 {
    width: clamp(200px, 40vw, 1000px);
}

.comment-404 {
    font-size: clamp(10px, 3vw, 30px);
    margin-top: -40px;
}

@media only screen and (max-width: 768px) {
    section.notFound {
        height: 35vh;
    }
    section.notFound div.img-404 img {
        width: 70vw;
        height: auto;
    }

    main {
        min-height: 90vh !important;
    }
}
