.nav-link {
    color: #fff !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding-right: 10px;
}

#btn-footer {
	font-size: 15px;
	font-weight: bold;
	color: var(--blue);
	border: 3px solid var(--yellow);
	border-radius: 35px;
	background-color: var(--yellow);
}


