/****************************** Global Data & Variable ******************************/
:root {
	--blue-opaco: rgba(0, 0, 31, 0.7);
	--blue: #00001f;
	--yellow: #ffec37;
	--height-header: 80px;
	--o: #1e0742;
  }

  body {
	background-color: var(--blue);
	font-family: Arial;
  }

  /****************************** END ******************************/

  /****************************** TEXT ******************************/
  .textCenter {
	font-size: clamp(36px, 6vw, 55px);
	font-weight: bold;
	background-image: url("https://assets.website-files.com/61c070585317d242d3a59789/61c070585317d282fba597e2_user.jpeg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    line-height: 120%;
    letter-spacing: 0.014em;
    margin: 16px auto;
  }

  .textSide {
	font-size: clamp(32px, 5vw, 40px);
	font-weight: bold;
	background-image: url("https://assets.website-files.com/61c070585317d242d3a59789/61c070585317d282fba597e2_user.jpeg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    line-height: 120%;
    letter-spacing: 0.014em;
    margin: 14px auto;
  }


  p {
	margin-top: 15px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
  }

  /****************************** END ******************************/

  .game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }

  #container {
	padding-top: 160px !important;
	display: grid;
	grid-template-columns: 1fr 5fr 2fr;
	align-items: center;
	justify-content: center;
	text-align: center;
  }

  #letter {
	width: 40%;
	height: 50px;
	font-size: 26px;
	text-align: center;
	margin-bottom: 16px;
	margin-top: 16px;
	border: none;
	border-radius: 8px;
  }

  #guesses {
	font-size: 24px;
	text-align: center;
	margin-bottom: 16px;
	margin-top: 16px;
	color: #fff;
  }


	.unvisible {
		display: none !important;
	}

  #guess-btn {
	margin: 22px;
	font-size: 27px;
	font-weight: bold;
	width: 150px;
	color: var(--blue);
	border: 3px solid var(--yellow);
	border-radius: 35px;
	background-color: var(--yellow);
	margin-top: 40px;
  }

  #guess-btn:focus {
	outline: none !important;
	box-shadow: none;
  }

  #reset-btn {
	margin: 22px;
	font-size: 27px;
	font-weight: bold;
	width: 150px;
	color: var(--blue);
	border: 3px solid var(--yellow);
	border-radius: 35px;
	background-color: var(--yellow);
	margin-top: 40px;
  }

  #reset-btn:focus {
	outline: none !important;
	box-shadow: none;
  }

  #word {
	font-size: 40px;
	font-weight: bold;
	color: #fff;
  }

  .classifica {
	padding: 22px;
	padding-top: 10px;
	background-color: #2F2F4A;
	border-radius: 15px;
	height: fit-content;
	width: fit-content;
	align-items: center;
	text-align: center;
	color: #fff;
	margin-bottom: 50px;
  }

  table {
    box-sizing: content-box !important;
}

th {
	padding: 10px;
    font-size: clamp(10px, 3vw , 20px);
}

td {
    font-size: clamp(10px, 3vw , 20px);
}

  @media screen and (max-width: 991px) {
	#container {
		grid-template-columns: 1fr;
		padding-top: 140px !important;
	}

	.classifica  {
		padding: 0px;
		margin-top: 10px;
	}
  }

  @media screen and (max-width: 780px) {

	#container {
		grid-template-columns: 1fr;
		padding-top: 110px !important;
	}

	#word {
		font-size: 34px;
	}

	#guesses {
		font-size: 24px;
	}

	#letter {
		font-size: 20px;
	}

	p {
		font-size: 20px;
	}

	#reset-btn {
		margin: 18px;
		font-size: 22px;
		width: 140px;
		margin-top: 26px;
	}

	#guess-btn {
		margin: 18px;
		font-size: 22px;
		width: 140px;
		margin-top: 26px;
	}

  }

  @media screen and (max-width: 510px) {

	#container {
		padding-top: 90px !important;
	}

	#word {
		font-size: 30px;
	  }

	#reset-btn {
		margin: 16px;
		font-size: 20px;
		width: 130px;
		margin-top: 22px;
	}

	#guess-btn {
		margin: 16px;
		font-size: 20px;
		width: 130px;
		margin-top: 22px;
	}
  }
