/****************************** Global Data & Variable ******************************/
:root {
    --blue-opaco: rgba(0, 0, 31, 0.7);
    --blue: #00001f;
    --yellow: #ffec37;
    --height-header: 80px;
    --o: #1e0742;
}

body {
    background-color: var(--blue);
    font-family: Arial;
}

/****************************** Video Style ******************************/
/* Video Container Style */
.video-container {
    width: 100%;
    position: relative;
}

.video-container img {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

.video-container video {
    width: 100%;
}

/*************** Video Responsive ***************/
@media (max-width: 991px) {
    .video-container {
        transition: 0;
        margin-top: var(--height-header);
    }
}

/****************************** Title & Description Game ******************************/

.game-section {
    display: block;
    place-content: center;
    padding: 60px 20px;
    /* margin: auto 4.5px; */
}

.content-game {
    max-width: 1224px;
    margin: 0 auto;
}

.game-content-header {
    margin: 0 auto;
    text-align: center;
}

.h1-colored {
    background-image: url("https://assets.website-files.com/61c070585317d242d3a59789/61c070585317d282fba597e2_user.jpeg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    /*  1° param: dimensione minima del font
        2° param: dimensione calcolata in base alla larghezza della pagina
                - vw sta per viewport, intesa come percentuale della larghezza della pagina
                - rem sta per dimensione del font del root element (quella di default del browser: 16px)
        3° param: dimensione massima del font
        e.g: se la larghezza della pagina è 1200px, il font-size sarà 120px (1200*10/100)+ 3.2px (16 * 0.2) = 123.2px
    */
    font-size: clamp(60px, 10vw + 0.2rem, 92px);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    line-height: 120%;
    letter-spacing: 0.014em;
    margin: 20px auto;
}

.max-630 {
    max-width: 630px;
    margin: 16px auto;
    /* font-size: 26px; */
    font-size: clamp(15px, 5vw + 0.1rem, 26px);
    color: #fff;
    font-weight: 600;
    line-height: 33px;
}

/****************************** Game Presentation ******************************/

.game-position {
    display: block;
    box-sizing: border-box;
}

.game-list {
    display: grid;
    margin-top: 80px;
    grid-auto-columns: 1fr;
    grid-column-gap: 26px;
    grid-row-gap: 26px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
    .game-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 480px) {
    .game-list {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.card {
    background-image: url("https://assets.website-files.com/61c070585317d242d3a59789/61c070585317d2efa3a59843_back%20image-cards%20Background-3.png");
    background-color: rgba(28, 1, 50, 0.892);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.4s ease;
    position: relative;
}

.jumping-foto {
    position: absolute;
    top: 0;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 100%;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: 2rem;
}

.logo-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
}

.description-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 10px;
}

.play-button {
    opacity: 0;
    position: absolute;
    display: inline-block;
    padding: 18px 48px 16px;
    margin-top: 40px;
    border-radius: 99px;
    background-color: #ffec37;
    transition: opacity 0.4s ease, transform 0.4s ease;
    color: #00001f;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}

.card:hover {
    transform: translateY(-20px);
    border: 2px solid yellow;
}

.card:hover .card-text {
    opacity: 0;
    transition: opacity 0.1s ease-in, transform 0.1s ease-in;
}

.card:hover .play-button {
    opacity: 1;
    transform: translateY(-25px);
}

.card:hover .jumping-foto {
    opacity: 1;
    transform: translateY(-70px);
}

.play-button:hover {
    background-color: #ffec37;
    color: black;
    text-decoration: none;
}
