/****************************** Global Data & Variable ******************************/
:root {
    --blue-opaco: rgba(0, 0, 31, 0.7);
    --blue: #00001f;
    --yellow: #ffec37;
    --height-header: 80px;
    --o: #1e0742;
}

body {
    background-color: var(--blue);
    font-family: Arial;
}

/****************************** END ******************************/

/****************************** TEXT ******************************/
.textCenter {
	font-size: 55px;
	font-weight: bold;
	background-image: url("https://assets.website-files.com/61c070585317d242d3a59789/61c070585317d282fba597e2_user.jpeg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    line-height: 120%;
    letter-spacing: 0.014em;
    margin: 20px auto;
}

.textSide {
	font-size: 40px;
	font-weight: bold;
	background-image: url("https://assets.website-files.com/61c070585317d242d3a59789/61c070585317d282fba597e2_user.jpeg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    line-height: 120%;
    letter-spacing: 0.014em;
    margin: 15px auto;
}

p {
	margin-top: 15px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

/****************************** END ******************************/

#container {
	padding-top : 160px !important;
	display: grid;
	grid-template-columns: 5fr 1fr;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.simon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#griglia {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.color {
	width: 100px;
	height: 100px;
	border-radius: 15px;
}

.red {
	background: red;
}

.blue {
	background: blue;
}

.green {
	background: green;
}

.yellow {
	background: yellow;
}

.orange {
	background: orange;
}

.purple {
	background: purple;
}

.pink {
	background: pink;
}

.brown {
	background: brown;
}

.white {
	background: white;
}


.highlight {
  transition: background-color 0.25s ease;
  box-shadow: 0px 0px 10px #fff;
}

.highlight:active {
  background-color: #fff;
  box-shadow: none;
}

#start-btn {
	margin: 32px;
	font-size: 30px;
	font-weight: bold;
	width: 200px;
	color: var(--blue);
	border: 3px solid var(--yellow);
	border-radius: 32px;
	background-color: var(--yellow);
}

#start-btn:focus {
	outline: none !important;
	box-shadow: none;
}

.classifica {
	padding: 22px;
	padding-top: 10px;
	background-color: #2F2F4A;
	border-radius: 15px;
	height: fit-content;
	width: fit-content;
	align-items: center;
	text-align: center;
	color: #fff;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

th {
	padding: 10px;
}

@media screen and (max-width: 780px) {


	.classifica {
		padding-top: 10px;
		width: 70%;
	}
}