:root {
	--blue-opaco: rgba(0, 0, 31, 0.7);
	--blue: #00001f;
	--yellow: #ffec37;
	--margin-top-header: 5%;
	--height-content: 1000px;
	--o: #1e0742;
}

body {
	margin: 0;
	background-color: var(--blue);
	font-family: Arial;
}

.header {
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
	display: grid;
	align-items: center;

	grid-template-columns: 1fr 1fr 3fr 3fr 1fr;
	width: 100%;
	margin-top: var(--margin-top-header);
	z-index: 1;
}

.header button {
	display: none;
}

.logo-container {
	grid-column: 2 / 3 !important; /* logo occupa la prima colonna */
	background-color: var(--blue-opaco);
	backdrop-filter: blur(4px);
	border-radius: 25px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-brand {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-brand img {
	/* 1556 x 240 */
	width: 194.5px;
	height: auto
}

.navbar {
	border-radius: 25px !important;
	grid-column: 4 / 5; /* menu occupa la seconda colonna   <grid-column-start> / <grid-column-end> */
	background-color: var(--blue-opaco);
	backdrop-filter: blur(4px);
	display: grid;
	align-items: center;
	margin-bottom: 0 !important;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-item a:hover {
	background-color: rgba(255, 255, 255, 0) !important;
}

.nav-item a{
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.nav-item a:hover {
	background-color: rgba(255, 255, 255, 0) !important;
	color: var(--yellow);
}

.content {
	background-color: var(--blue);
}

.video-container {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}

.video-container img {
    position: absolute;
	left: 0;
	bottom: -5px;
    z-index: 1;
    height: 200px;
	width: 100%;
}

.video-container video {
	width: 100%;
}

.section1 {
	background-color: var(--blue);
	height: 200px;

}

.section2 {
	background-color: blue;
}

.footer {
	position: relative;
	background-color: yellow;
	top: var(--height-header);
}

@media screen and (min-width: 1391px) {
    .video-container img {
        height: 300px;
    }

	.navbar-brand img {
		/* 1556 x 240 */
		width: 222.2px;
		height: auto
	}

	.nav-item a {
		font-size: 18px;
	}
}

@media screen and (max-width: 701px) {
	.video-container {
		top: -5px;
	}

	.video-container img  {
		height: 100px;
	}

	.logo-container {
		background-color: transparent;
	}

	.navbar {
		max-width: 0;
		overflow: hidden;
	}

	.header button {
		display: block;
		position: absolute;
		right: 15px;
		top: 25px;
		z-index: 3;
		background-color: transparent;
		border: none;
	}

	.header button svg {
		width: 38px;
		height: 38px;
		fill: white;
	}

	.header {
		position: relative;
		margin-top: 0 !important;
		padding-top: 5%;
		background-color: var(--blue);
		z-index: 2;
	}

	.logo-container {
		grid-column: 1 / 2 !important;
	}

	.navbar-brand img {
		/* 1556 x 240 */
		width: 172.9px;
		height: auto
	}

}

@media screen and (max-width: 501px) {
    .video-container img {
        height: 70px;
    }
}


