:root {
    --blue-opaco: rgba(0, 0, 31, 0.7);
    --blue: #00001f;
    --yellow: #ffec37;
    --margin-top-header: 5%;
    --height-content: 1000px;
    --o: #1e0742;
}

body {
    background-color: var(--blue);
    font-family: Arial;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon span:nth-child(1) {
    top: 0px;
}

.animated-icon span:nth-child(2),
.animated-icon span:nth-child(3) {
    top: 8px;
}

.animated-icon span:nth-child(4) {
    top: 16px;
}

.animated-icon.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.animated-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar-nav {
    color: #ffffff;
}

.navbar-nav:hover {
    color: #ffffff;
}

.navbar-nav a {
    color: #ffffff;
}

.navbar-nav a:hover {
    background-color: rgba(255, 255, 255, 0) !important;
	color: var(--yellow);
}

.navbar-nav a:active {
    color: #ffffff;
}

.navbar {
	border-radius: 25px !important;
	background-color: var(--blue-opaco);
}

.logo {
    border-radius: 25px !important;
	background-color: var(--blue-opaco);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header Style */
.header {
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-color: transparent !important;
    z-index: 999;
    top: 50px;
}

/* Video Container Style */
.video-container {
    width: 100%;
    position: relative;
}

.video-container img {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

.video-container video {
    width: 100%;
}

.content {
    margin-top: 0%;
}